<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=300, initial-scale=1.0, shrink-to-fit=no">
    <title>Salary slip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
    <div class="row" style="border: 2px solid black;" >
        <div class="col-sm-12" style=" text-align: center;">
            <h2>Baron's Kitchen</h2>
        </div>
    </div>
    
    <div style="border: 1px solid black;">
        
            <div  style=" text-align: left;">
                Date:   <strong>{{date}}</strong>
            </div>
            <div  style=" text-align: left;">
                Time:   <strong>{{time}}</strong>
            </div>
            
        
    </div>
    <div class="container-fluid">
        <div class="row" style="border: 1px solid black;" >
            <div class="col-sm-4" style=" text-align: center;">
                Emp id:{{obj.emp.id}}
            </div>
            <div class="col-sm-4" style=" text-align: center;">
                Name: {{obj.emp.name}}
            </div>
            <div class="col-sm-4" style=" text-align: center;">
                Phone number: {{obj.emp.contact}}
            </div>
            
        </div>
    </div>
    

    <div class="container" style="border: 1px solid black;">
       
        <br>            
        <table class="table table-bordered table-hover table-condensed ">
          <thead>
            <tr>
              <th>Description</th>
              <th>Amount</th>
              
              
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                    Base Salary: 
                    
                </td>
                <td>
                    <strong>{{obj.wages}}</strong>
                </td>
              
            </tr>
              <tr>
                  <td>
                      claims:   
                      
                  </td>
                  <td>
                    <strong>{{obj.claims}}</strong>
                  </td>
                
              </tr>
              <tr>
                <td>
                    Bonus:  
                    
                </td>
                <td>
                    <strong>{{obj.bonus}}</strong>
                </td>
              
            </tr>
              <tr>
                <td>
                    Overtime pay:
                </td>
                <td>
                    <strong>{{obj.OT.OT_pay}}</strong>
                </td>
              </tr>
              <tr>
                <td>
                    Deductions: 
                </td>
                <td>
                    <strong>{{obj.deduction.total_deductions}}</strong>
                </td>
              </tr>
              
          </tbody>
        </table>
    </div>
    <div class="container-fluid">
        
        <div class="row" style="border: 1px solid black;" >
            <br>
            <div class="col-sm-12" style=" text-align: left;">
                Total payable amount:   <strong>{{obj.amount}}</strong>
            </div>
            <br><br>
        </div>
    </div>
   
    <div class="container">
        <div class="row" style="border: 1px solid black;" >
            
            <div class="col-sm-12" style=" text-align: center;">
                <br><br><br><br>Accountant signature
            </div>
            
        </div>
    </div>
    
    
    
</body>
</html>

<!--
    <div class="container" style="border: 2px solid black;">
       
        <br>            
        <table class="table table-bordered table-hover table-condensed ">
          <thead>
            <tr>
              <th>Benefits</th>
              <th>Overtime</th>
              <th>Deductions</th>
              
            </tr>
          </thead>
          <tbody>
              
              <tr>
                  <td>
                      claims:
                      <br>bonus:
                  </td>
                  <td>
                      overtime pay: 
                  </td>
                  <td>
                      deduced:
                  </td>
              </tr>
              
          </tbody>
        </table>
      </div>
-->
<!--<div class="container-fluid">
        <div class="row" style="border: 1px solid black;" >
            <div class="col-sm-6" style=" text-align: left;">
                Date:
            </div>
            <div class="col-sm-6" style=" text-align: right;">
                Time:
            </div>
            
        </div>
    </div>-->
<!--
    <div class="container">
        <div class="row" style="border: 1px solid black;" >
            <div class="col-sm-6" style=" text-align: center;">
                <br><br><br><br>Employee signature
            </div>
            <div class="col-sm-6" style=" text-align: center;">
                <br><br><br><br>Accountant signature
            </div>
            
        </div>
    </div>
-->